.profile-container {
  width: 100%;
  display: flex;
  justify-content: center;
  .profile-content {
    width: calc(100% - 200px);
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    .profile-title{
      font-size: 24px;
      font-weight: bold;
    }
    .profile-edit{
      display: flex;
      .profile-left{
        width: calc(100% - 200px);
      }
      .profile-right{
        width: 200px;
      }
    }
  }
}