@use '@/components/EditorHeader/index.module' as var;
$sendContainerHeight: 180px;
$assistantWidth: 500px;
.container{
  width: 0;
  height: calc(100vh - #{var.$editor-header-height});
  transition: 0.6s;
  position: relative;
  .content{
    position: absolute;
    display: inline-block;
    width: 500px;
    height: 100%;
    border: 1px solid #e5e7eb;
    padding: 10px 10px 20px 10px;
    box-sizing: border-box;
    .ChatContainer{
      height: calc(100% - #{$sendContainerHeight});
      padding: 10px;
      overflow: auto;
      .messageItem{
        margin-top: 20px;
        display: flex;
        .profile{
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
            border-radius: 50%;
            border: 1px solid #e5e7eb;
          }
        }
        .message{
          margin-left: 20px;
          max-width: calc(100% - 80px);
          background: #e1dfdf;
          border: 1px solid #ddd;
          padding: 10px;
          border-radius: 5px;
        }
      }
    }
    .sendContainer{
      height: $sendContainerHeight;
      border-radius: 20px;
      padding: 10px;
      textarea{
        border: none;
        box-shadow: none;
      }
      border-width: 1px;
      border-style: solid;
      border-color: #d9d9d9;
      .bottom{
        display: flex;
        justify-content: right;
      }
    }
    .isFocus{
      border-color: #1677ff;
      box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
      outline: 0;
    }
    .openButton{
      display: flex;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      padding: 10px 2px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      &:hover{
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      }
      cursor: pointer;
      position: absolute;
      left: -40px;
      top: 50%;
    }
  }
}
.isOpen{
  width: 500px;
}