$profile-content-height: 160px;
$tabs-height: 82px;
$tabs-marginTop: 20px;
.profile-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: auto;
  padding: 20px 200px;
  .profile-content{
    width: 100%;
    height: $profile-content-height;
    min-width: 500px;
    .profile-description{
      width: 100%;
      background: #fff;
      padding: 20px;
      display: flex;
      .descriptionLeft{
        width: 120px;
        height: 120px;
        img{
          border-radius: 50%;
          &:hover{
            opacity: 0.7;
            cursor: pointer;
          }
        }
      }
      .descriptionRight{
        margin-left: 20px;
        width: calc(100% - 140px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .name{
          display: flex;
          flex-direction: column;
          .largeName{
            font-size: 25px;
            font-weight: 800;
          }
          .smallName{
            color: #666666;
          }
        }
        .edit{
          text-align: right;
          cursor: pointer;
          color: #007fff;
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
    .profile-articleList{
      margin-top: 20px;
      width: 100%;
      background: #fff;
      padding: 20px;
    }
  }
  .tabsNav{
    margin-top: $tabs-marginTop;
    padding: 10px 20px;
    height: 82px;
    width: 100%;
    background: #fff;
  }
}