$HeaderHeight: 100px;
$ToolbarHeight: 40px;

.HeaderContainer {
  height: $HeaderHeight;
  .header{
    height: calc(#{$HeaderHeight} - #{$ToolbarHeight});
  }
  .toolbar{
    display: flex;
    height: $ToolbarHeight;
    align-items: center;
    border: 1px solid #8a919f;
    padding: 0 20px;
    justify-content: space-between;
    .toolbarLeft{

    }
    .toolbarRight{

    }
  }
}