$HeaderHeight: 100px;
$ToolbarHeight: 40px;

.HeaderContainer {
  height: $HeaderHeight;
  .header{
    height: calc(#{$HeaderHeight} - #{$ToolbarHeight});
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    .left{
      .title{
        flex: 1 1 auto;
        height: 100%;
        font-size: 22px;
        border: none;
        box-shadow: none;
      }
    }
    .right{
      display: flex;
      height: 100%;
      align-items: center;
      &>*{
        margin-left: 10px;
      }
    }
  }
  .toolbar{
    display: flex;
    height: $ToolbarHeight;
    align-items: center;
    border: 1px solid #8a919f;
    padding: 0 20px;
    justify-content: space-between;
    .toolbarRight,
    .toolbarLeft{
      height: 100%;
      display: inline-flex;
      align-items: center;
    }
  }
}