.container{
  display: inline-flex;
  width: 500px;
  background: linear-gradient(to right, #F0F4F8, #E0E8F0);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  justify-content: center;
  .form{
    width: 400px;
  }
  .verificationCode{
    input{
      width: calc(100% - 110px);
    }
    button{
      margin-left: 10px;
      width: 100px;
    }
  }
  .userAgreementLink{
    color: #1e80ff;
    cursor: pointer;
    margin-left: 5px;
  }
  .title{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    svg{
      font-size: 40px;
    }
  }
  button {
    background: linear-gradient(135deg, #6699CC, #99CCFF);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  button:hover {
    background: linear-gradient(135deg, #77AADD, #A0D0FF) !important;
  }
}