.container{
  display: inline-flex;
  position: absolute;
  right: 0;
  width: 500px;
  height: 100vh;
  background: linear-gradient(to bottom right, #B0E0E6, #98FB98);
  //opacity: 0.8;
  justify-content: center;
  .form{
    margin-top: calc(40% + 100px);
    width: 400px;
  }
  .verificationCode{
    input{
      width: calc(100% - 110px);
    }
    button{
      margin-left: 10px;
      width: 100px;
    }
  }
}