.container{
  display: inline-flex;
  position: absolute;
  right: 0;
  width: 500px;
  height: 100vh;
  background: linear-gradient(to bottom right, #afd2e6, #499aa6);
  //opacity: 0.8;
  justify-content: center;
  align-items: center;
  .form{
    margin-top: -100px;
    width: 200px;
  }
}