$operatorWidth: 50px;
$rightBarWidth: 260px;
.readerScroll{
  overflow: auto;
  height: 100%;
}
.readerContainer {
  padding: 20px;
  display: flex;
  .operatorFix{
    position: fixed;
    width: $operatorWidth;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    .Button{
      background-color: #fff;
      height: 44px;
      width: 44px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      cursor: pointer;
      font-size: 30px;
      transition: 0.2s;
    }
  }
  .readerContent {
    padding: 20px;
    width: calc(100% - #{$operatorWidth} - 20px - #{$rightBarWidth} - 20px);
    margin-left: $operatorWidth + 20px;
    min-width: 400px;
    background: #fff;
  }
  .rightBar{
    position: fixed;
    width: $rightBarWidth;
    right: 20px;
  }
}

.authorBar{
  display: flex;
  background: #fff;
  padding: 20px;
  .avatar{
    width: 60px;
    height: 60px;
    img{
      border-radius: 50%;
    }
  }
  .authorInfo{
    margin-left: 20px;
    width: 140px;
    div{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .nickName{
      cursor: pointer;
      &:hover{
        color: #1e80ff;
      }
    }
  }
}

.outlineBarContainer{
  margin-top: 20px;
  background: #fff;

  .outlineHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .outlineOpen{
      font-size: 14px;
      color: #8a919f;
      cursor: pointer;
    }
  }
  .outlineContent{
    max-height: 0;
    overflow: auto;
    transition: 0.1s;
  }
  .outlineIsOpen{
    max-height: 400px;
    border-top: 1px solid #ccc;
    padding: 10px 0;
  }
}