@use '@/styles/variables' as var;
.container {
  height: calc(100vh - #{var.$nav-container-height});
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  overflow: auto;
  .articleList {
    width: calc(100% - 200px);
    background: #fff;
    .articleItem{
      cursor: pointer;
      padding: 20px;
      &:hover{
        background: #f7f8fa;
      }
      .title{
        font-size: 28px;
        font-weight: bold;
      }
      .summary{
        color: #888888;
        height: 24px;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .itemBottom{
        display: flex;
        .author{

        }
        .date{
          margin-left: 10px;
        }
        .like{
          margin-left: 10px;
          span{
            margin-left: 5px;
          }
        }
      }
    }
  }
}