

.codeBlockHeader{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border: 1px solid #eee;
  background: #faf9f9;
  font-size: 14px;
  .headerLeft{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 10px;
    &:hover{
      background: #eee;
    }
    svg{
      font-size: 20px;
    }
  }
  .copyButton{
    padding: 0 10px;
    &:hover{
      background: #eee;
    }
  }
}
.codeContainer{
  border: none !important;
}