$DiagramSideBarWidth: 250px;

.DiagramSideBarContainer {
  height: 100%;
  width: $DiagramSideBarWidth;
  background: #f6f3f3;
  .shapeBar{
    width: 100px;
    height: 30px;
    border: 1px solid #8a919f;
  }
  .collapseItem{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 创建三列，每列宽度相等 */
    gap: 5px; // 间距10px
  }
}