.profile-container{
  width: 100%;
  display: flex;
  justify-content: center;
  .profile-content{
    width: calc(100% - 200px);
    margin-top: 20px;
    .profile-description{
      width: 100%;
      background: #fff;
      padding: 20px;
    }
    .profile-articleList{
      margin-top: 20px;
      width: 100%;
      background: #fff;
      padding: 20px;
    }
  }
}