@use '@/components/UserCenterLayout/index.module.scss' as var;

.collectContainer {
  max-height: calc(100% - #{var.$profile-content-height} - #{var.$tabs-marginTop} - #{var.$tabs-height});
  overflow: auto;
  width: 100%;
  background: #fff;
}